<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>FIlterDispatcher</filter-name>
        <filter-class>filter.FIlterDispatcher</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FIlterDispatcher</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>AddLessonServlet</servlet-name>
        <servlet-class>controller.AddLessonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewAnswerServlet</servlet-name>
        <servlet-class>controller.AddNewAnswerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPostServlet</servlet-name>
        <servlet-class>controller.AddPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuestionServlet</servlet-name>
        <servlet-class>controller.AddQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuizServlet</servlet-name>
        <servlet-class>controller.AddQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSliderServlet</servlet-name>
        <servlet-class>controller.AddSliderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddDimensionServlet</servlet-name>
        <servlet-class>controller.AdminAddDimensionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddLessonServlet</servlet-name>
        <servlet-class>controller.AdminAddLessonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddPriceServlet</servlet-name>
        <servlet-class>controller.AdminAddPriceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddServlet</servlet-name>
        <servlet-class>controller.AdminAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddSubjectServlet</servlet-name>
        <servlet-class>controller.AdminAddSubjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminChangeDimensionServlet</servlet-name>
        <servlet-class>controller.AdminChangeDimensionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminChangeLessonServlet</servlet-name>
        <servlet-class>controller.AdminChangeLessonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminChangePriceServlet</servlet-name>
        <servlet-class>controller.AdminChangePriceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminChangeServlet</servlet-name>
        <servlet-class>controller.AdminChangeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminChangeSubjectServlet</servlet-name>
        <servlet-class>controller.AdminChangeSubjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteDimenServlet</servlet-name>
        <servlet-class>controller.AdminDeleteDimenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminFilterLessonServlet</servlet-name>
        <servlet-class>controller.AdminFilterLessonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminFilterServlet</servlet-name>
        <servlet-class>controller.AdminFilterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminFilterSubjectServlet</servlet-name>
        <servlet-class>controller.AdminFilterSubjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLessonListServlet</servlet-name>
        <servlet-class>controller.AdminLessonListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSearchLessonServlet</servlet-name>
        <servlet-class>controller.AdminSearchLessonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSearchServlet</servlet-name>
        <servlet-class>controller.AdminSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSearchSubjectServlet</servlet-name>
        <servlet-class>controller.AdminSearchSubjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSortServlet</servlet-name>
        <servlet-class>controller.AdminSortServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSubjectListServlet</servlet-name>
        <servlet-class>controller.AdminSubjectListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUserListServlet</servlet-name>
        <servlet-class>controller.AdminUserListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminViewDimenServlet</servlet-name>
        <servlet-class>controller.AdminViewDimenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminViewLessonServlet</servlet-name>
        <servlet-class>controller.AdminViewLessonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminViewPriceServlet</servlet-name>
        <servlet-class>controller.AdminViewPriceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminViewServlet</servlet-name>
        <servlet-class>controller.AdminViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminViewSubjectServlet</servlet-name>
        <servlet-class>controller.AdminViewSubjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDetailsServlet</servlet-name>
        <servlet-class>controller.BlogDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeAdminServlet</servlet-name>
        <servlet-class>controller.ChangeAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeCusServlet</servlet-name>
        <servlet-class>controller.ChangeCusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeExpServlet</servlet-name>
        <servlet-class>controller.ChangeExpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeLessonInfoServlet</servlet-name>
        <servlet-class>controller.ChangeLessonInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeMakServlet</servlet-name>
        <servlet-class>controller.ChangeMakServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>controller.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeQuizInfoServlet</servlet-name>
        <servlet-class>controller.ChangeQuizInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeSalServlet</servlet-name>
        <servlet-class>controller.ChangeSalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeSliderServlet</servlet-name>
        <servlet-class>controller.ChangeSliderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatusServlet</servlet-name>
        <servlet-class>controller.ChangeStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>controller.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseDetailsServlet</servlet-name>
        <servlet-class>controller.CourseDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseListServlet</servlet-name>
        <servlet-class>controller.CourseListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseRegisterServlet</servlet-name>
        <servlet-class>controller.CourseRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardDateServlet</servlet-name>
        <servlet-class>controller.DashboardDateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardMonthServlet</servlet-name>
        <servlet-class>controller.DashboardMonthServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>controller.DashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardSubjectServlet</servlet-name>
        <servlet-class>controller.DashboardSubjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAllServlet</servlet-name>
        <servlet-class>controller.DeleteAllServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAnswerServlet</servlet-name>
        <servlet-class>controller.DeleteAnswerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCourseServlet</servlet-name>
        <servlet-class>controller.DeleteCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteQuestionServlet</servlet-name>
        <servlet-class>controller.DeleteQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteQuizServlet</servlet-name>
        <servlet-class>controller.DeleteQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAnswerServlet</servlet-name>
        <servlet-class>controller.EditAnswerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditQuestionServlet</servlet-name>
        <servlet-class>controller.EditQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExtendRegisTimeServlet</servlet-name>
        <servlet-class>controller.ExtendRegisTimeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterQuizServlet</servlet-name>
        <servlet-class>controller.FilterQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterQuizTypeServlet</servlet-name>
        <servlet-class>controller.FilterQuizTypeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterRegistrationServlet</servlet-name>
        <servlet-class>controller.FilterRegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomepageServlet</servlet-name>
        <servlet-class>controller.HomepageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LessionDetailsServlet</servlet-name>
        <servlet-class>controller.LessionDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LessonListServlet</servlet-name>
        <servlet-class>controller.LessonListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LessonViewServlet</servlet-name>
        <servlet-class>controller.LessonViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadBlogListServlet</servlet-name>
        <servlet-class>controller.LoadBlogListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyCourseServlet</servlet-name>
        <servlet-class>controller.MyCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyRegisrationServlet</servlet-name>
        <servlet-class>controller.MyRegisrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostListServlet</servlet-name>
        <servlet-class>controller.PostListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionDetailsServlet</servlet-name>
        <servlet-class>controller.QuestionDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizReviewServlet</servlet-name>
        <servlet-class>controller.QuizReviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizhandleServlet</servlet-name>
        <servlet-class>controller.QuizhandleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizzesListServlet</servlet-name>
        <servlet-class>controller.QuizzesListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationDetailServlet</servlet-name>
        <servlet-class>controller.RegistrationDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationListServlet</servlet-name>
        <servlet-class>controller.RegistrationListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>controller.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBlogServlet</servlet-name>
        <servlet-class>controller.SearchBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByIDServlet</servlet-name>
        <servlet-class>controller.SearchByIDServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCourseListServlet</servlet-name>
        <servlet-class>controller.SearchCourseListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPostServlet</servlet-name>
        <servlet-class>controller.SearchPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchQuestionServlet</servlet-name>
        <servlet-class>controller.SearchQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchQuizServlet</servlet-name>
        <servlet-class>controller.SearchQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchRegistrationServlet</servlet-name>
        <servlet-class>controller.SearchRegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchSliderListServlet</servlet-name>
        <servlet-class>controller.SearchSliderListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchEmailServlet</servlet-name>
        <servlet-class>controller.SearchEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SingUpServlet</servlet-name>
        <servlet-class>controller.SingUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SliderDetailServlet</servlet-name>
        <servlet-class>controller.SliderDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SliderListServlet</servlet-name>
        <servlet-class>controller.SliderListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitServlet</servlet-name>
        <servlet-class>controller.SubmitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCourseStatusServlet</servlet-name>
        <servlet-class>controller.UpdateCourseStatusServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddLessonServlet</servlet-name>
        <url-pattern>/AddLessonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewAnswerServlet</servlet-name>
        <url-pattern>/AddNewAnswerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPostServlet</servlet-name>
        <url-pattern>/AddPostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuestionServlet</servlet-name>
        <url-pattern>/AddQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuizServlet</servlet-name>
        <url-pattern>/AddQuizServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSliderServlet</servlet-name>
        <url-pattern>/AddSliderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddDimensionServlet</servlet-name>
        <url-pattern>/AdminAddDimensionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddLessonServlet</servlet-name>
        <url-pattern>/AdminAddLessonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddPriceServlet</servlet-name>
        <url-pattern>/AdminAddPriceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddServlet</servlet-name>
        <url-pattern>/AdminAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddSubjectServlet</servlet-name>
        <url-pattern>/AdminAddSubjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminChangeDimensionServlet</servlet-name>
        <url-pattern>/AdminChangeDimensionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminChangeLessonServlet</servlet-name>
        <url-pattern>/AdminChangeLessonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminChangePriceServlet</servlet-name>
        <url-pattern>/AdminChangePriceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminChangeServlet</servlet-name>
        <url-pattern>/AdminChangeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminChangeSubjectServlet</servlet-name>
        <url-pattern>/AdminChangeSubjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteDimenServlet</servlet-name>
        <url-pattern>/AdminDeleteDimenServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminFilterLessonServlet</servlet-name>
        <url-pattern>/AdminFilterLessonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminFilterServlet</servlet-name>
        <url-pattern>/AdminFilterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminFilterSubjectServlet</servlet-name>
        <url-pattern>/AdminFilterSubjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLessonListServlet</servlet-name>
        <url-pattern>/AdminLessonListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSearchLessonServlet</servlet-name>
        <url-pattern>/AdminSearchLessonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSearchServlet</servlet-name>
        <url-pattern>/AdminSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSearchSubjectServlet</servlet-name>
        <url-pattern>/AdminSearchSubjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSortServlet</servlet-name>
        <url-pattern>/AdminSortServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSubjectListServlet</servlet-name>
        <url-pattern>/AdminSubjectListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUserListServlet</servlet-name>
        <url-pattern>/AdminUserListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminViewDimenServlet</servlet-name>
        <url-pattern>/AdminViewDimenServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminViewLessonServlet</servlet-name>
        <url-pattern>/AdminViewLessonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminViewPriceServlet</servlet-name>
        <url-pattern>/AdminViewPriceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminViewServlet</servlet-name>
        <url-pattern>/AdminViewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminViewSubjectServlet</servlet-name>
        <url-pattern>/AdminViewSubjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDetailsServlet</servlet-name>
        <url-pattern>/BlogDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeAdminServlet</servlet-name>
        <url-pattern>/ChangeAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeCusServlet</servlet-name>
        <url-pattern>/ChangeCusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeExpServlet</servlet-name>
        <url-pattern>/ChangeExpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeLessonInfoServlet</servlet-name>
        <url-pattern>/ChangeLessonInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeMakServlet</servlet-name>
        <url-pattern>/ChangeMakServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeQuizInfoServlet</servlet-name>
        <url-pattern>/ChangeQuizInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeSalServlet</servlet-name>
        <url-pattern>/ChangeSalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeSliderServlet</servlet-name>
        <url-pattern>/ChangeSliderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatusServlet</servlet-name>
        <url-pattern>/ChangeStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/CheckoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseDetailsServlet</servlet-name>
        <url-pattern>/CourseDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseListServlet</servlet-name>
        <url-pattern>/CourseListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseRegisterServlet</servlet-name>
        <url-pattern>/CourseRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardDateServlet</servlet-name>
        <url-pattern>/DashboardDateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardMonthServlet</servlet-name>
        <url-pattern>/DashboardMonthServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/DashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardSubjectServlet</servlet-name>
        <url-pattern>/DashboardSubjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAllServlet</servlet-name>
        <url-pattern>/DeleteAllServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAnswerServlet</servlet-name>
        <url-pattern>/DeleteAnswerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCourseServlet</servlet-name>
        <url-pattern>/DeleteCourseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteQuestionServlet</servlet-name>
        <url-pattern>/DeleteQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteQuizServlet</servlet-name>
        <url-pattern>/DeleteQuizServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAnswerServlet</servlet-name>
        <url-pattern>/EditAnswerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditQuestionServlet</servlet-name>
        <url-pattern>/EditQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExtendRegisTimeServlet</servlet-name>
        <url-pattern>/ExtendRegisTimeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterQuizServlet</servlet-name>
        <url-pattern>/FilterQuizServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterQuizTypeServlet</servlet-name>
        <url-pattern>/FilterQuizTypeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterRegistrationServlet</servlet-name>
        <url-pattern>/FilterRegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomepageServlet</servlet-name>
        <url-pattern>/HomepageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LessionDetailsServlet</servlet-name>
        <url-pattern>/LessionDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LessonListServlet</servlet-name>
        <url-pattern>/LessonListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LessonViewServlet</servlet-name>
        <url-pattern>/LessonViewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadBlogListServlet</servlet-name>
        <url-pattern>/LoadBlogListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyCourseServlet</servlet-name>
        <url-pattern>/MyCourseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyRegisrationServlet</servlet-name>
        <url-pattern>/MyRegisrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostListServlet</servlet-name>
        <url-pattern>/PostListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionDetailsServlet</servlet-name>
        <url-pattern>/QuestionDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizReviewServlet</servlet-name>
        <url-pattern>/QuizReviewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizhandleServlet</servlet-name>
        <url-pattern>/QuizhandleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizzesListServlet</servlet-name>
        <url-pattern>/QuizzesListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationDetailServlet</servlet-name>
        <url-pattern>/RegistrationDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationListServlet</servlet-name>
        <url-pattern>/RegistrationListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/ResetPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBlogServlet</servlet-name>
        <url-pattern>/SearchBlogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByIDServlet</servlet-name>
        <url-pattern>/SearchByIDServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCourseListServlet</servlet-name>
        <url-pattern>/SearchCourseListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPostServlet</servlet-name>
        <url-pattern>/SearchPostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchQuestionServlet</servlet-name>
        <url-pattern>/SearchQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchQuizServlet</servlet-name>
        <url-pattern>/SearchQuizServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchRegistrationServlet</servlet-name>
        <url-pattern>/SearchRegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchSliderListServlet</servlet-name>
        <url-pattern>/SearchSliderListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchEmailServlet</servlet-name>
        <url-pattern>/SearchEmailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SingUpServlet</servlet-name>
        <url-pattern>/SingUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SliderDetailServlet</servlet-name>
        <url-pattern>/SliderDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SliderListServlet</servlet-name>
        <url-pattern>/SliderListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitServlet</servlet-name>
        <url-pattern>/SubmitServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCourseStatusServlet</servlet-name>
        <url-pattern>/UpdateCourseStatusServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
