/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 29, 2021, 12:54:09 PM
    Author     : acer
*/
* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    /*    user-select: none;*/
}
header
{
    background: cadetblue;
    text-align: center;
    padding: 2%;
    font-size: 200%;
}
.check-status
{

}
.search-bar
{
    display: inline-block;
    margin-left: 88%;
}
.slider-list
{
    margin-top: 1%;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    margin-right: 1%;
}
.slider-image
{
    width: 100%;
    height: 180px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.login-btn
{display: flex;
 align-items: center;
 justify-content: center;
 margin-right: 30px;
 background-color: cadetblue;
 border: none;
 border-radius: 10px;
 width: 150px;
 height: 50px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
 color: white;
 font-size: 18px;
 font-weight: 500;
 transition: 0.3s;
 text-decoration: none;
 padding-top: 0.4%;
 padding-left: 0.5%;
 margin-bottom: 3%;
 float:right;
}
.status-card{
    width: 50%;
    color: white;
    background-color: rgba(96.1, 96.1, 96.1, 0.5);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    margin-left: 5px;
    padding:2%;
    border-radius: 10px;
    transition: 0.3s;
    user-select: none;
    text-align: center;
    margin-bottom: 2%;
}
#slider-card {
    /*    flex: 0 0 80%;*/
    position: relative;
    margin-bottom: 50px;
    margin-right: 50px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    width: 400px;
    height: 350px;
    transition: 0.3s;
    margin-top: 5%;

}

.slider-information {
    margin-left: 20px;
    overflow: hidden;
}
.page-route {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    font-size: 3vh;
}

.page-route a {
    margin-right: 40px;
    cursor: pointer;
}
.on-page {
    background-color: white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 40px;
    text-align: center;
}
.login-btn:hover
{
    background-color: rgb(71, 117, 119);
    color: white;
}
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;}


/* Modal Content/Box */

.modal-content {
    padding-left: 5%;
    background-color: #B5F8D9;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: max-content;
    /* Could be more or less, depending on screen size */
}

.open-btn
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
    border: none;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 18px;
    font-weight: 500;
    transition: 0.3s;
    text-decoration: none;
    padding-top: 0.4%;
    padding-left: 0.5%;
    margin-top: 3%;
}
.detail-btn
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
    border: none;
    border-radius: 10px;
    width: 30%;
    height: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 18px;
    font-weight: 500;
    transition: 0.3s;
    text-decoration: none;
    padding-top: 0.4%;
    padding-left: 0.5%;
    margin-bottom: 3%;
    float: left;
    margin-left: 5%;
}